# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
/ExprParser/.vs/ExprParser
/.vs/expressionParser/v17
/ExprParser/ExprParser/bin/Debug/net8.0
/ExprParser/ExprParser/obj
/ExprParser/ExprParserTest/bin/Debug/net8.0
/ExprParser/ExprParserTest/obj
/.vs
/ExprParser/ExprParserTest/bin/Release/net8.0
